p#notice = notice

p = @page.title
p = @page.description
p == @page.content

- if signed_in?
  = link_to 'Edit', edit_page_path(@page), class: 'btn btn-primary btn-sm add-right-space'
  = link_to 'Back', pages_path, class: 'btn btn-default btn-sm'
